/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Roboto', sans-serif; 
    padding-top: 1rem;
    width: calc(100vw - 34px);
}

a, a:link {
  color: black;
  text-decoration: none;
}

.links {
  text-decoration: none;
}

mat-icon.size-12 {
  width: 12px;
  height: 12px;
  line-height: 12px;
}


.mat-tooltip {
  color: whitesmoke;
  background-color: #337ab7;
  border-radius: 2px;
  margin: 7px;
  max-width: 250px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
}
